*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: auto;
}
header{
    background-color: rgb(239, 239, 239);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position:static;
    width: 100%;
}
.menu_icon{
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}
.logo{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
}
.menu{
    display: none;
    transition: all;
    transition: 0.5s;
}
.menu li{
    padding: 10px;
}
.links{
    text-decoration: none;
    font-size: 1.5rem;
    padding-left: 20px;
    padding: 10px;
    color: black;
    display: block;
    transition: all;
    transition: 0.5s;
}
.links:hover{
    background-color: dodgerblue;
    color: white;
    border-radius: 10px;
    padding-left: 50px;
}
.page1{
    height: 90vh;
    background-image: url(/javascript-project/Scroll/image/oc-gonzalez-xg8z_KhSorQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page1 h1{
    font-size: 3rem;
    color: whitesmoke;
    background-color: rgba(50, 50, 93, 0.25);
    width: 70%;
    padding: 10px;
}
.page1 p{
    font-size: 1rem;
    color: whitesmoke;
    background-color: rgba(50, 50, 93, 0.25);
    width: 70%;
    padding: 10px;
    font-weight: bolder;
}
.page1 button{
    font-size: 1rem;
    color: whitesmoke;
    background-color: rgba(50, 50, 93, 0.25);
    width: 30%;
    border: 5px solid white;
    border-radius: 5px;
    padding: 5px;
    font-weight: bolder;
    margin-top: 10px;
}
.page2{
    height: 100vh;
    background-color: rgba(50, 50, 93, 0.1);
    text-align: center;
}
span{
    color:dodgerblue;
}
.page3{
    height: 100vh;
    background-color: white;
    text-align: center;
}
.page4{
    height: 100vh;
    background-color: rgba(50, 50, 93, 0.1);
    text-align: center;
}
footer{
    background-color: dodgerblue;
    color: white;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (min-width:760px) {
    .menu_icon{
        display: none;
    }
    .header{
        display: flex;
        flex-direction: row;
    }
    .menu{
        display: block;
        float: right;
        padding-top: 10px;
        padding-left: 20px;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
    }
    .menu li{
        list-style: none;
    }
    .menu .links{
        transition: all;
    }
    .menu a:hover{
        color: dimgray;
        padding-left: 10px;
        background-color: rgb(239, 239, 239);
    }
}
