*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/javascript-project/Modal/hero.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    min-height: 100vh;
    ;
    display:flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: none;
    background-color: white;
    width: 50%;
    height: 25vh;
    text-align: center;
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    z-index: 1;
}
.content h1{
    font-size: 2.5rem;
    padding-top: 4%;
    margin-bottom: 15px;
}
.content img{
    padding-top: 5px;
    margin-right: -85%;
}
.project{
    background-color: white;
    width: 70%;
    height: 40vh;
    text-align: center;
    border-radius: 4%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.project h1{
    font-size: 3rem;
    padding-top: 10%;
    margin-bottom: 15px;
}
.project button{
    font-size:1.5rem;
    padding:7px ;
    border: 3px solid dodgerblue;
    color: dodgerblue;
    border-radius: 5px;
    margin-bottom: 15%;
}
.project button:hover{
    background-color: dodgerblue;
    color: white;
    transition: 1s;
}