*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background: white;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 100%;
}
header p{
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10px;
  padding-bottom: 5px;
}
header ul{
  float: right;
  list-style: none;
  margin-top: -45px;
}
header li{
  display: inline;
  margin-right: 20px;
  font-size: 2rem;
}
.body{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.body p{
  font-size:2.5rem ;
  font-weight: bolder;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
button{
  margin-top: 50px;
  width: 45%;
  height: 50hv;
  font-weight: bolder;
  font-size: 1.5rem;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  transition: all;
  transition: 1s;
}
button:hover{
  background-color: black;
  color: white;
}
a{
  text-decoration: none;
  color: black;
  transform: all;
  transition: 1s;
}
a:hover{
  color: aqua;
}
