*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background: white;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 70px;
}
header p{
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
}
header ul{
  float: right;
  list-style: none;
  margin-top: -45px;
}
header li{
  display: inline;
  margin-right: 20px;
  font-size: 2rem;
}